/*All media queries here */
@media (max-width: 60em) {
    html {
        font-size: 80%;
    }
}

@media only screen and ( min-width: 0px) {
    #restaurants-list li {
    max-width: 100%;
  }
}

@media only screen and (min-width: )

    #restaurants-list li {
        
        
    }



  /*  @media only screen and (min-width: 0px) {
  #restaurants-list li {
    max-width: 100%;
  }
}
@media only screen and (min-width: 714px) {
  #restaurants-list li {
    max-width: 45%;
  }
  #restaurant-img {
    margin-top: -40%;
  }
  .inside .restaurant-details,
  .reviews-details {
    flex-direction: row;
  }
  .inside #map-container {
    width: 50%;
  }
  .inside .restaurant-address-hours {
    width: 48%;
  }
}
@media only screen and (min-width: 1050px) {
  #restaurants-list li {
    max-width: 300px;
  }
}
    */
}