/*On devices bigger than 767px */

@media (min-width:700px) {

    #maincontent-top > #map-container,
    #maincontent-top > #map-container > #map {
        height: 660px;
    }
}

#maincontent-top {
  display: flex;
  flex-direction: column;
}

@media (min-width:700px)  { 
  #maincontent-top {
    flex-direction: row-reverse;
  }