/*All media queries here */

@media screen and ( min-width: 550px) {
    #map-container,
    .filter{
        display: flex;
        justify-content: space-between;
    }

    img {
        display: flex;
    }
}

@media screen and (max-width: 449px) {

    a {
        font-size: 0.8em;
    }

  /*  .logo {
        width: 40%;
    }
    .my-name {
        font-size: 1.1em;
    }

    .my-title {
        font-size: 0.9em;
    }

    .sidenav_link {
        padding-top: 35px;
    }

    .closebtn {
        font-size: 0.9em;
    }
    */
}