@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #e6e6e6;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: #006600#006600;
    text-decoration: none;
    color: #fff;
    font-size: .9em;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #e6e6e6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: #663366;
    color: #e6e6e6;
    font-size: 10pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
    width: 100%;
    height: 80px;
    background-color: #663366;
    text-align: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
    padding: 10px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    background-color: #006600;
    color: #fff;
    text-decoration: underline;
    font-size: 1.1em;
}

/* ========== Map ========= */
#map {
    height: 400px;
    width: 100%;
    background-color: #e6e6e6;
}

#maincontent #map-container {
    height: 400px;
    width: 100%;
    background-color: #e6e6e6;
}

#maincontent-top > #map-container,
#maincontent-top > #map-container > #map {
    height: 250px;
}


.inside #map-container {
    background: #ccc none repeat scroll 0 0;
    width: 100%;
}


/* ====Restaurant Filtering ==== */
.filter-options {
    display: inline-flex;
    width: 100%;
    background-color: #006600;
    flex-direction: row;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    display: inline-flex;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 90%;
}

.filter-label {
    display: none;
}

/* ===== Restaurant Listing ==== */

button {
    background-color: #006600;
    border-radius: 20px;
    color: #fff;
    display: flex;
    font-size: 1.1em;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    text-align: center;

}

#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #e6e6e6;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

#restaurants-list li {
   background: #b6c7d9;
background:-webkit-linear-gradient(top, #b6c7d9, #663366);
background: -moz-linear-gradient(top, #b6c7d9, #663366);
background: -ms-linear-gradient(top, #b6c7d9, #663366);
background: -o-linear-gradient(top, #b6c7d9, #663366);
background: linear-gradient(to bottom, #b6c7d9, #663366);
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}
#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%;
}

#restaurants-list li h1 {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    color: #fff;
    margin: 0;
    font-size: 11pt;
    
}

#restaurants-list li a {
    background-color: #333 color: #006600;
    border-bottom: 3px solid #eee;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
    width: 100%;
}

.inside #map {
    background-color: #ccc;
    width: 100%;
}

#restaurant-name {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-address p {
    font-size: 1em;
    font-weight: 300;

}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
    border-top: 2px solid #fff;
}

#reviews-container h2 {
    color: #333;
    font-size: 24pt;
    font-weight: 400;
    letter-spacing: -1px;
    padding-bottom: .2em;
}

#reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 10px;
    font-size: 10px;
}

#restaurant-hours {
    display: inline-block;
}

#restaurant-hours td {
    color: #333;
    font-size: 1.313em;
}

#maincontent-top {
    display: flex;
    flex-direction: column;
}

.info-label {
    display: none;
}
